PORT=3000


MAILER_SERVICE=gmail
MAILER_EMAIL=tsu.diego.hdezm@gmail.com
MAILER_PASSWORD=dsadas
MAILER_SECRET_KEY=fpfopnnumarusajy

MONGO_URL=mongodb://diego:123456@localhost:27017
MONGO_DB_NAME=NOC
MONGO_USER=diego
MONGO_PASS=123456

POSTGRES_URL=postgres://postgres:123456@localhost:5432
POSTGRES_USER=postgres
POSTGRES_DB=NOC
POSTGRES_PASSWORD=123456